version: .{build}
image: Visual Studio 2019
configuration: Release
init:
- ps: Update-AppveyorBuild -Version "$(Get-Date -format yyyy.MM.dd.HH.mm.ss)"
nuget:
  project_feed: true
before_build:
- cmd: nuget restore
build:
  publish_nuget: true
  include_nuget_references: true
  verbosity: minimal
after_build:
- cmd: >-
   
    cd C:\projects\sa-tools\

    buildSATools

    cd C:\projects\sa-tools\output
    
    7z a "C:\projects\sa-tools\SA Tools.7z" * -mx9
artifacts:
- path: SA Tools.7z
