<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.DirectX.Direct3DX" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.2911.0" newVersion="1.0.2911.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
