<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TextureEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
</startup>
<System.Windows.Forms.ApplicationConfigurationSection>
  <add key="DpiAwareness" value="PerMonitorV2"/>
    <!--
     <add key="Form.DisableSinglePassScalingOfDpiForms" value="true"/>
     <add key="ToolStrip.DisableHighDpiImprovements" value="true"/>
     <add key="CheckedListBox.DisableHighDpiImprovements" value="true"/>
     <add key="MonthCalendar.DisableHighDpiImprovements" value="true"/>
     <add key="AnchorLayout.DisableHighDpiImprovements" value="true"/>
     <add key="DataGridView.DisableHighDpiImprovements" value="true"/>
     -->
</System.Windows.Forms.ApplicationConfigurationSection>
<userSettings>
  <TextureEditor.Properties.Settings>
    <setting name="PCCompatGVM" serializeAs="String">
      <value>True</value>
    </setting>
  </TextureEditor.Properties.Settings>
</userSettings>
<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
</configuration>
